{% extends 'base/base.html' %}

{% block navMenu %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		<li><a href="/targetsForm">Target Prediction</a></li>
		<li><a href="/similarityForm">Similarity</a></li>
		<li><a href="/drugForm" onclick='location.reload(true); return false;'>Drug Information</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div class="container mainContainer">
		<div class="row col-xs-11 col-xs-offset-1" ng-controller="DrugController as drugCtrl" ng-init="drugCtrl.initDrugForm()">
			<div class="text-left col-xs-10" id="drugForm" ng-show="drugAction==0"> 
				{% block title %} 
					<h1 align="center"> Drug Information </h1>
					<hr>
				{% endblock %}
				<hr>
				<h2>Description</h2>
				<p class="optionDescription">This website allows you to find important characteristic for a small molecule using DrugBank database.</p>
				<hr>
				<div id="drugInfo" class="text-center">
					<form class="drugForm" id="dbCompoundDrug" name="drugManagement" ng-submit="drugManagement.$valid && drugCtrl.sendCompoundDrugInfo()" novalidate>
						<div class="form-horizontal">
							<div class="row" >
								<div class="col-xs-12">
									<div class="form-group">
										<h4>Write Accession Number</h4>
										<div class="col-xs-3"></div>
										<div class="col-xs-6">
											<label for="dbCompoundDrug"></label>
											<input type="text" class="form-control" name="dbCompoundDrug" id="dbCompoundDrug" ng-model="compoundDrug.moleculeId" placeholder="DB06704" ng-change="drugCtrl.checkDbId()" required />
										</div>
									</div>
									<hr>
									<div class="col-xs-4"></div>
									<div class="col-xs-2" align="left">
										<button id="confirmButtonDrug" class="btn btn-success" type="submit" ng-disabled="drugManagement.$invalid">Submit</button>
									</div>
									<div class="col-xs-2" align="right">
										<button class="btn btn-primary" id="backButtonDrug" type="button" onclick="javascript:location.href='/'">Back</button>
									</div>
								</div>
							</div>
							<!-- The Modal -->
							<div id="myModalDrug" class="modal">
								<!-- Modal content -->
								<div class="modal-content">
								    <span class="close" ng-click="drugAction=0;clickAbort=true">&times;</span>
								    <p align="center" class="modalText">Please, wait until process has finished.</p>
								    <img align="center" src="static/images/spinner4.gif">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>


			<div class="col-xs-12 text-left" id="drugResult" ng-show="drugAction==1"> 
				<table ng-show="!errorMessage" class="table table-condensed" id="example">
					<!-- Table with results -->
					<tbody>
						<tr bgcolor="#73a9c2">
							<th colspan="2">IDENTIFICATION</th>
						</tr>
						<tr>
							<td class="titleDrugTable">Name</td>
							<td>{{ "{{ compoundResult.getName() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Accession Number</td>
							<td>{{ "{{ compoundResult.getAccessionNumber() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Type</td>
							<td>{{ "{{ compoundResult.getType() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Groups</td>
							<td>{{ "{{ compoundResult.getGroups() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Description</td>
							<td>{{ "{{ compoundResult.getDescription() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Structure</td>
							<td><img src="" id="imgDrugQuery"></td>
							<!-- The Modal -->
							<div id="myModal" class="modal">
								<!-- Modal content -->
								<img class="modal-content" id="img01">
								<div id="caption"></div>
							</div>
						</tr>
						<tr>
							<td class="titleDrugTable">Synonyms</td>
							<td>{{ "{{ compoundResult.getSynonyms() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Smiles</td>
							<td>{{ "{{ compoundResult.getSmile() }}" }}</td>
						</tr>
						<tr bgcolor="#73a9c2">
							<th colspan="2">PHARMACOLOGY</th>
						</tr>
						<tr>
							<td class="titleDrugTable">Indication</td>
							<td>{{ "{{ compoundResult.getIndication() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Protein binding</td>
							<td>{{ "{{ compoundResult.getProteinBinding() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Route of elimination</td>
							<td>{{ "{{ compoundResult.getRouteOfElimination() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Metabolism</td>
							<td>{{ "{{ compoundResult.getMetabolism() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Mechanism of action</td>
							<td>{{ "{{ compoundResult.getMechanismOfAction() }}" }}</td>
						</tr>
						<tr>
							<td class="titleDrugTable">Toxicity</td>
							<td>{{ "{{ compoundResult.getToxicity() }}" }}</td>
						</tr>
						<tr bgcolor="#73a9c2">
							<th colspan="2">REFERENCES</th>
						</tr>
						<tr>
							<td class="titleDrugTable">Chembl ID</td>
							<td><a href="https://www.ebi.ac.uk/chembldb/index.php/compound/inspect/{{ "{{ compoundResult.getChemblId() }}" }}" target="_blank">{{ "{{ compoundResult.getChemblId() }}" }}</a></td>
						</tr>
					</tbody>
				</table>
				<div align="center" ng-show="errorMessage" class="alert alert-danger fade in">{{ '{{ errorMessage }}' }}</div>
			</div>
		</div>
	</div>
{% endblock %}